<p>users works!</p>


<div class="table-responsive">
    <!-- UsersData local var   -->
    <table class="table" *ngIf="users$ | async as UsersData">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of UsersData ">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address.street }}</td>
                <td><button type="button" class="btn btn-outline-info" (click)="goToMoreInfo()">More info</button></td>
                <!-- <td *ngFor="let post of user.posts">
                    {{ post.title }}
                </td> -->

            </tr>
        </tbody>
    </table>

    <div style="margin: 10px"></div>
    <!-- 
    <table class="table" *ngIf="users12$ | async as UsersData12">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Full Address</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of UsersData12">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td *ngFor="let post of user.posts">
                    {{ post.title }}
                </td>
                <td>{{ user.address.street }}</td>
            </tr>
        </tbody>
    </table> -->

</div>


<!-- <button (click)="ngOnInit()">Get all users</button> -->
<!-- <div *ngFor='let user of filteredUsers | async'>{{user | json}}</div> -->