<p>users works!</p>

<!-- <div class="container mt-5">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
      [(ngModel)]="filterTerm"
    />
  </div> -->
<div class="table-responsive">
  <!-- filteredUsers local var   -->
  <table class="table" *ngIf="users$ | async as filteredUsers">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Address</th>
        <th>Geo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers ">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          {{ user.address.street }}{{ user.address.street }}
        </td>
        <!-- <td>{{ user.geo.lat}}{{ user.geo.lng}}</td> -->
      </tr>
    </tbody>
  </table>
</div>

<div style="margin: 10px"></div>

<!-- <button (click)="ngOnInit()">Get all users</button> -->
<!-- <div *ngFor='let user of filteredUsers | async'>{{user | json}}</div> -->
