<div class="card" *ngIf="usersFiltered$ | async as usersFiltered">
    <div class="card-body" *ngFor="let user of usersFiltered">
        <div class="row">
            <div class="col-md-2">ID:</div>
            <div class="col-md-6">{{ user.id }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Name:</div>
            <div class="col-md-6">{{ user.name }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Username:</div>
            <div class="col-md-6">{{ user.username }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Email:</div>
            <div class="col-md-6">{{ user.email }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Full Address:</div>
            <div class="col-md-6">{{ user.id }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Post id:</div>
            <span>
        <div
          class="col-md-6"
          *ngFor="let post of user.posts"
          style="display: inline"
        >
          {{ post.id }}
        </div></span
      >
    </div>
    <div class="row">
      <div class="col-md-2">Post title:</div>
      <span>
        <div
          class="col-md-6"
          *ngFor="let post of user.posts"
          style="display: inline"
        >
          {{ post.title }}
        </div></span
      >
    </div>
    <div class="row">
      <div class="col-md-2">Post body:</div>
      <div
        class="col-md-6"
        *ngFor="let post of user.posts"
        style="display: inline"
      >
        {{ post.body }}
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>